/*find things to put in here eventually*/

.btn-primary a {
    color:#ffffff;
}

.navbar {
    background-color: white;
    opacity: 0.4;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: black;
}


.show-button div {
    height:350px;
    width:350px;
    display: inline-block;
    position: relative;
}

.show-button img{
    /*height:80%;*/
    width:100%;
    display: block;
    border-radius: 3px;
}

.show-button img:hover {
    /*background-color: black;*/
    opacity: 0.4;
    color:black;
}

.caption {
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate( -50%, -10% );
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 25px;
    height: 30px;
}

.top-row,
.bottom-row {
    display: inline-block;
    height:400px;
}

.restrictions,
.ratings {
    background-color: white;
    opacity: 0.7;
    height: 400px;
}

.login,
.signup {
    background-color: white;
    opacity:0.6;
    padding-bottom: 50px;
}

.restriction-form {
    background-color: white;
    opacity: 0.8;
    padding: 50px 50px 50px 50px;
    border-radius: 3px;
}

#tag-toggle {
    display: none;
}


.rating-button {
    width: 60px;
    background-color: transparent;
    border:1pt #2176FF solid;
    border-radius: 3px;
    padding:10px 5px 10px 5px;
    margin: 5px 5px 5px 5px;
    color:#2176FF;
}

.rating-button:hover,
.btn-primary:hover,
.btn-primary a:hover {
    background-color: #2176FF;
    opacity: 0.8;
    border:1pt #2176FF solid;
    color:white;
    text-decoration: none;
}

.btn-primary {
    background-color: transparent;
    border: 1pt solid #2176FF;
    color:#2176FF;
}

a {
    color:#2176FF;
}

a:hover {
    color:#005bed;
    text-decoration: none;
}

.btn-primary a {
    color:#2176FF;
}