<!doctype html>
<html>
<head>
  <title>Recime</title>
  <link rel="stylesheet" type="text/css" href="/static/jqcloud.css" />
  <script src="http://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link type="text/css" rel="stylesheet" href="/static/main.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-section" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Recime</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse-section">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/tags">Tags</a></li>
        <li><a href="/">Home</a></li>
        {% if "user_email" in session %}
            <li><a href="/{{user.user_id}}">User profile</a></li>
            <li><a href="/logout">Logout</a></li>
        {% elif "user_email" not in session %}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% for message in get_flashed_messages() %}
<p class="flashed-messages"> {{message}} <p>
{% endfor %}
{% block content %}

{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>