{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h2>Ingredients</h2>
            {% for ingredient in recipe_ingredients %}
                <ul>
                    {% if not loop.last %}
                    <li>{{ ingredient }}</li>
                    {% endif %}
                </ul>
            {% endfor %}
        </div>
        <div class="col-lg-5">
            <h1>{{ recipe_title }}</h1>
        
            <ol>
                {%for direction in recipe_directions %}
                    {% if loop.first %}
                        <li> {{ direction[22:]}} </li>
                    {% elif not loop.last %}
                        <li> {{ direction }} </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <div class="col-lg-3"> 
            {% if "user_email" in session and score >= 1 %}
                <h3> You've rated this recipe {{score}} out of 5 </h3>

            {% elif "user_email" in session and score < 1 %}
                <h1> Rate this recipe </h1>
                <form action="/add-rating" method="POST">
                <input type="hidden" value="5" name="score">
                <input type="hidden" name="recipe" value="{{ recipe_display.recipe_id }}">
                <input type="submit" value="5" class="submit">
                </form>
                <form action="/add-rating" method="POST">
                 <input type="hidden" value="4" name="score">
                 <input type="hidden" name="recipe" value="{{ recipe_display.recipe_id }}">
                  <input type="submit" value="4"class="submit">
                </form>
                <form action="/add-rating" method="POST">
                    <input type="hidden" value="3" name="score">
                    <input type="hidden" name="recipe" value="{{ recipe_display.recipe_id}}">
                     <input type="submit" value="3"class="submit">
                </form>
                <form action="/add-rating" method="POST">
                    <input type="hidden" value="2" name="score">
                    <input type="hidden" name="recipe" value="{{ recipe_display.recipe_id }}">
                     <input type="submit" value="2"class="submit">
                </form>
                <form action="/add-rating" method="POST">
                    <input type="hidden" value="1" name="score">
                    <input type="hidden" name="recipe" value="{{ recipe_display.recipe_id }}">
                     <input type="submit" value="1"class="submit">
                </form>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}