{% extends 'base.html' %}
{% block content %}
<div class="container"> 
    <row>
        <h1>List of Recipes by time of Day</h1>
        <div class="col-lg-4">
            <button class="btn btn-primary"><a href="/Breakfast/recipes">Breakfast</a></button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary"><a href="/recipes">Give me three options</a></button>
            <button class="btn btn-primary"><a href="/Dinner/recipes">Dinner</a></button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary"><a href="/Lunch/recipes">Lunch</a></button>
        </div>

    </row>
    <row>
        <h1>Random sample of 3 Recipes per time of Day</h1>
         <div class="col-lg-4">
            <button class="btn btn-primary"><a href="/Cocktail/random/recipes">Cocktail</a></button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary"><a href="/Dessert/random/recipes">Dessert</a></button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary"><a href="/Dinner/random/recipes">Dinner</a></button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary"><a href="/Lunch/random/recipes">Lunch</a></button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary"><a href="/Brunch/random/recipes">Brunch</a></button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary"><a href="/Breakfast/random/recipes">Breakfast</a></button>
        </div>
    </row>
</div>
{% endblock %}