{% extends 'base.html' %}

{% block content %}
<style type="text/css">
    body {
    background-image: url("./static/gyoza.jpg")
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
       <div class="col-lg-6 signup">
        <h1>Signup</h1>
        <form action="/signup" method="POST">
            <br>
            <p>Name:</p>
            <input type='text' name='name' id='name'></input><br>
            <br>
            <p>Email:</p>
            <input type="text" name="email" id="email"></input><br>
            <br>
            <p>Password:</p>
            <input type="Password" name="Password" id="Password"></input><br>
            <br>
            <br>
            <button class="btn btn-primary" type="submit">Submit</button>           
        </form>
       </div>
       <div class="col-lg-3"></div>
    </div>

</div>

{% endblock %}