{% extends 'base.html' %}

{% block content %}
<div class="container">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="/static/jqcloud-1.0.4.min.js"></script>
    <script type="text/javascript">
        var tags = [{text:"hey there",weight:3}, {text:"how are you" ,weight:5}, {text:"i'm fine", weight:1}];

        var weighted_tags = [
 {text:'Dinner', weight: 1},
 {text:'Food', weight: 1},
 {text:'Lunch', weight: 1},
 {text:'Vegetarian', weight: 3},
 {text:'Absinthe', weight: 1},
 {text:'Acai', weight: 1},
 {text:'Achiote Paste', weight: 1},
 {text:'Acorn Squash', weight: 1},
 {text:'Adobo', weight: 1},
 {text:'Agave', weight: 4},
 {text:'Aioli', weight: 1},
 {text:'Alcohol', weight: 3},
 {text:'Aleppo Pepper', weight: 1},
 {text: 'Allspice', weight: 3},
 {text: 'Almond', weight: 10},
 {text:'Almond Milk', weight: 4},
 {text:'Almond Paste', weight: 1},
 {text: 'Amaranth', weight: 1},
 {text:'Amaretto', weight: 1},
 {text:'Ancho Chile', weight:1},
 {text: 'Anchovy', weight: 10},
 {text: 'Anise', weight: 2},
 {text: 'Aniseed', weight: 1},
 {text: 'Aperol', weight: 3},
 {text:'Appetizer', weight: 1},
 {text:'Apple', weight: 10},
 {text:'Apple Cider', weight: 1},
 {text:'Apple Cider Vinegar', weight: 5},
 {text:'Apricot', weight: 3},
 {text:'Artichoke', weight: 1},
 {text:'Arugula', weight: 3},
 {text:'Asiago', weight: 1},
 {text:'Asian', weight: 2},
 {text:'Asparagus', weight: 5},
 {text:'Avocado', weight: 10},
 {text:'BA Best', weight: 10},
 {text:'BA Weddings', weight: 8},
 {text:'BLT', weight: 1},
 {text:'Back To School', weight: 10},
 {text:'Bacon', weight: 10},
 {text:'Bake', weight: 10},
 {text:'Balsamic Vinegar', weight: 1},
 {text:'Banana', weight: 7},
 {text:'Bar Cookie', weight: 1},
 {text:'Barley', weight: 1},
 {text:'Bars', weight: 3},
 {text:'Basically', weight: 10},
 {text:'Basics', weight: 10},
 {text:'Basil', weight: 10},
 {text:'Bastille Day', weight: 1},
 {text:'Bay', weight: 1},
 {text:'Bay Leaf', weight: 5},
 {text:'Bean', weight: 8},
 {text:'Bechamel', weight: 1},
 {text:'Beef', weight: 5},
 {text:'Beer', weight: 7},
 {text:'Beignets', weight: 1},
 {text:'Bell Pepper', weight: 8},
 {text:'Berry', weight: 2},
 {text:'Biscuit', weight: 1},
 {text:'Bitters', weight: 10},
 {text:'Black Beans', weight: 1},
 {text:'Black Pepper', weight: 4},
 {text:'Blackberry', weight: 2},
 {text:'Blue Cheese', weight: 2},
 {text:'Blueberry', weight: 4},
 {text:'Bok Choy', weight: 1},
 {text:'Bourbon', weight: 10},
 {text:'Brandy', weight: 3},
 {text:'Bread', weight: 10},
 {text:'Bread Pudding', weight: 1},
 {text:'Breadcrumbs', weight: 5},
 {text:'Breakfast', weight: 10},
 {text:'Brie', weight: 1},
 {text:'Brioche', weight: 1},
{text:'Brisket', weight: 2},
{text:'Broccoli', weight: 4},
{text:'Broccoli Rabe', weight: 1},
{text:'Broth', weight: 2},
{text:'Brown Butter', weight: 2},
{text:'Brown Sugar', weight: 10},
{text:'Brownies', weight: 2},
{text:'Brunch', weight: 10},
{text:'Buche De Noel', weight: 2},
{text:'Buffet', weight: 1},
{text:'Burgers', weight: 3},
{text:'Burrata', weight: 2},
{text:'Butter', weight: 10},
{text:'Buttermilk', weight: 10},
{text:'Butternut Squash', weight: 2},
{text:'Cabbage', weight: 10},
{text:'Cacao Nib', weight: 2},
{text:'Cake', weight: 10},
{text:'Campari', weight: 1},
{text:'Candy', weight: 2},
{text:'Cannellini Beans', weight: 1},
{text:'Canola Oil', weight: 1},
{text:'Capers', weight: 1},
{text:'Caraway', weight: 4},
{text:'Cardamom', weight: 9},
{text:'Carrot', weight: 10},
{text:'Cashew', weight: 10},
{text:'Casserole', weight: 6},
{text:'Cast iron', weight: 1},
{text:'Cauliflower', weight: 8},
{text:'Cayenne', weight: 10},
{text:'Celery', weight: 6},
{text:'Celery Root', weight: 1},
{text:'Cereal', weight: 3},
{text:'Chai', weight: 1},
{text:'Cheddar', weight: 8},
{text:'Cheese', weight: 10},
{text:'Cherry', weight: 7},
{text:'Cherry Tomatoes', weight: 3},
{text:'Chicken', weight: 10},
{text:'Chicken Broth', weight: 6},
{text:'Chicken Salad', weight: 1},
{text:'Chickpea', weight: 10},
{text:'Chilaquiles', weight: 2},
{text:'Chile', weight: 10},
{text:'Chile Pepper', weight: 1},
{text:'Chile Powder', weight: 2},
{text:'Chili', weight: 2},
{text:'Chiltern', weight: 2},
{text:'Chimichurri', weight: 1},
{text:'Chips', weight: 5},
{text:'Chive', weight: 10},
{text:'Chocolate', weight: 10},
{text:'Chocolate Chips', weight: 2},
{text:'Chorizo', weight: 3},
{text:'Chowder', weight: 1},
{text:'Christmas', weight: 1},
{text:'Cider', weight: 3},
{text:'Cilantro', weight: 10},
{text:'Cinco De Mayo', weight: 2},
{text:'Cinnamon', weight: 10},
{text:'Citrus', weight: 2},
{text:'Clove', weight: 6},
{text:'Cocktail', weight: 10},
{text:'Cocoa', weight: 10},
{text:'Coconut', weight: 10},
{text:'Coconut Cream', weight: 1},
{text:'Coconut Milk', weight: 5},
{text:'Cod', weight: 2},
{text:'Coffee', weight: 10},
{text:'Cognac/Armagnac', weight: 3},
{text:'Collard Greens', weight: 2},
{text:'Comfort Food', weight: 1},
{text:'Condiment/Spread', weight: 10},
{text:'Confit', weight: 1},
{text:'Cookies', weight: 10},
{text:'Coriander', weight: 8},
{text:'Corn', weight: 4},
{text:'Corn Syrup', weight: 1},
{text:'Cornbread', weight: 1},
{text:'Corned Beef', weight: 2},
{text:'Cornmeal', weight: 5},
{text:'Cornstarch', weight: 9},
{text:'Couscous', weight: 1},
{text:'Crackers', weight: 3},
{text:'Cranberry', weight: 2},
{text:'Cranberry Sauce', weight: 1},
{text:'Cream', weight: 31},
{text:'Cream Cheese', weight: 3},
{text:'Creme Fraiche', weight: 2},
{text:'Crepe', weight: 1},
{text:'Crudite', weight: 1},
{text:'Crumble', weight: 1},
{text:'Crust', weight: 1},
{text:'Cucumber', weight: 16},
{text:'Cumin', weight: 15},
{text:'Cupcakes', weight: 4},
{text:'Curry', weight: 7},
{text:'Custard', weight: 2},
{text:'Daikon', weight: 4},
{text:'Dairy', weight: 10},
{text:'Dandelion Green', weight: 1},
{text:'Dark Chocolate', weight: 1},
{text:'Dessert', weight: 10},
{text:'Dijon', weight: 8},
{text:'Dill', weight: 8},
{text:'Dinner', weight: 10},
{text:'Dip', weight: 3},
{text:'Do Ahead', weight: 3},
{text:'Dominique Ansel', weight: 1},
{text:'Dough', weight: 6},
{text:'Dried Fruit', weight: 3},
{text:'Drinks', weight: 7},
{text:'Duck', weight: 1},
{text:'Easy', weight: 2},
{text:'Eau De Vie', weight: 1},
{text:'Edamame', weight: 2},
{text:'Egg', weight: 10},
{text:'Egg Whites', weight: 1},
{text:'Egg Yolks', weight: 7},
{text:'Eggplant', weight: 4},
{text:'Enchiladas', weight: 1},
{text:'Endive', weight: 1},
{text:'Escarole', weight: 2},
{text:'Espresso', weight: 5},
{text:'Falafel', weight: 1},
{text:'Fall', weight: 2},
{text:'Farro', weight: 1},
{text:'Fathers Day', weight: 1},
{text:'Fava Bean', weight: 1},
{text:'Fennel', weight: 10},
{text:'Fennel Seed', weight: 3},
{text:'Feta', weight: 4},
{text:'Fettuccine', weight: 1},
{text:'Fig', weight: 2},
{text:'Fish', weight: 10},
{text:'Fish Sauce', weight: 8},
{text:'Flatbread', weight: 2},
{text:'Flaxseed', weight: 4},
{text:'Flour', weight: 10},
{text:'Fontina', weight: 2},
{text:'Food Lovers Cleanse 2015', weight: 10},
{text:'Food-Lovers Cleanse 2014', weight: 1},
{text:'French', weight: 3},
{text:'Fritter', weight: 2},
{text:'Frosting', weight: 3},
{text:'Frozen Dessert', weight: 1},
{text:'Fruit', weight: 3},
{text:'Fudge', weight: 1},
{text:'Fusilli', weight: 1},
{text:'Galette', weight: 1},
{text:'Garlic', weight: 10},
{text:'Gazpacho', weight: 1},
{text:'Gelatin', weight: 1},
{text:'Ghee', weight: 3},
{text:'Gin', weight: 9},
{text:'Ginger', weight: 10},
{text:'Gluten Free', weight: 10},
{text:'Goat Cheese', weight: 3},
{text:'Graham Cracker', weight: 3},
{text:'Granola', weight: 1},
{text:'Grapefruit', weight: 3},
{text:'Gravy', weight: 2},
{text:'Greek', weight: 1},
{text:'Greek Food', weight: 1},
{text:'Green', weight: 1},
{text:'Green Onion Scallion', weight: 10},
{text:'Green Tea', weight: 1},
{text:'Gremolata', weight: 1},
{text:'Grill', weight: 4},
{text:'Grill Barbecue', weight: 7},
{text:'Grilled Cheese', weight: 1},
{text:'Ground Beef', weight: 2},
{text:'Ground Pork', weight: 1},
{text:'Gruyere', weight: 2},
{text:'Guacamole', weight: 1},
{text:'Guinness', weight: 4},
{text:'Halibut', weight: 1},
{text:'Ham', weight: 4},
{text:'Hamantaschen', weight: 3},
{text:'Harissa', weight: 1},
{text:'Hazelnut', weight: 1},
{text:'Healthy', weight: 10},
{text:'Healthyish', weight: 10},
{text:'Heritage Pork', weight: 1},
{text:'High Fiber', weight: 2},
{text:'Hoisin Sauce', weight: 1},
{text:'Holiday Cookies', weight: 5},
{text:'Hominy', weight: 2},
{text:'Horseradish', weight: 3},
{text:'Hot Chocolate', weight: 3},
{text:'Hot Pepper', weight: 1},
{text:'Hot Sauce', weight: 8},
{text:'Hummus', weight: 5},
{text:'Ice', weight: 1},
{text:'Indian Food', weight: 3},
{text:'Irish', weight: 1},
{text:'Italian', weight: 10},
{text:'Jalapeno', weight: 10},
{text:'Jam', weight: 3},
{text:'Japanese', weight: 1},
{text:'Julia Child', weight: 1},
{text:'Kale', weight: 9},
{text:'Ketchup', weight: 2},
{text:'Kid-Friendly', weight: 10},
{text:'Kimchi', weight: 4},
{text:'Kirsch', weight: 1},
{text:'Komb', weight: 7},
{text:'Kosher', weight: 6},
{text:'Kosher Salt', weight: 5},
{text:'Labneh', weight: 1},
{text:'Lager', weight: 2},
{text:'Lamb', weight: 5},
{text:'Large Group', weight: 2},
{text:'Lasagna', weight: 2},
{text:'Lavender', weight: 1},
{text:'Leaf', weight: 1},
{text:'Leafy Greens', weight: 1},
{text:'Leek', weight: 10},
{text:'Leg of Lamb', weight: 1},
{text:'Lemon', weight: 10},
{text:'Lemon Juice', weight: 10},
{text:'Lemon Zest', weight: 7},
{text:'Lemonade', weight: 1},
{text:'Lemongrass', weight: 4},
{text:'Lentil', weight: 3},
{text:'Lettuce', weight: 11},
{text:'Light', weight: 1},
{text:'Lime', weight: 10},
{text:'Lime Juice', weight: 10},
{text:'Liqueur', weight: 1},
{text:'Little Gem', weight: 1},
{text:'Liver', weight: 1},
{text:'Love Week', weight: 10},
{text:'Low Cal', weight: 2},
{text:'Low Cholesterol', weight: 2},
{text:'Low Fat', weight: 1},
{text:'Lunar New Year', weight: 2},
{text:'Lunch', weight: 10},
{text:'Macaroni', weight: 1},
{text:'Macaroni And Cheese', weight: 1},
{text:'Make Ahead', weight: 1},
{text:'Mango', weight: 2},
{text:'Maple Syrup', weight: 10},
{text:'Margarita', weight: 2},
{text:'Mario Batali', weight: 1},
{text:'Marjoram', weight: 1},
{text:'Marshmallow', weight: 4},
{text:'Masa', weight: 1},
{text:'Mascarpone', weight: 2},
{text:'Matcha', weight: 1},
{text:'Matzo', weight: 1},
{text:'Mayonnaise', weight: 10},
{text:'McDonalds', weight: 1},
{text:'Meat', weight: 3},
{text:'Meatball', weight: 3},
{text:'Mexican', weight: 8},
{text:'Middle Eastern', weight: 2},
{text:'Milk', weight: 3},
{text:'Milk Chocolate', weight: 1},
{text:'Mint', weight: 10},
{text:'Mirin', weight: 6},
{text:'Miso', weight: 10},
{text:'Molasses', weight: 3},
{text:'Mole', weight: 1},
{text:'Monterey Jack', weight: 1},
{text:'Mousse', weight: 2},
{text:'Mozzarella', weight: 7},
{text:'Muffin', weight: 2},
{text:'Mushroom', weight: 10},
{text:'Mussel', weight: 1},
{text:'Mustard', weight: 10},
{text:'Mustard Greens', weight: 1},
{text:'Nachos', weight: 2},
{text:'Noodle', weight: 2},
{text:'Nostalgia', weight: 7},
{text:'Nut', weight: 3},
{text:'Nut Butter', weight: 1},
{text:'Nutmeg', weight: 5},
{text:'Oat', weight: 9},
{text:'Oatmeal', weight: 1},
{text:'Oil', weight: 1},
{text:'Okra', weight: 1},
{text:'Old Bay', weight: 2},
{text:'Olive Oil', weight: 9},
{text:'Onion', weight: 10},
{text:'Onion Powder', weight: 1},
{text:'Orange', weight: 10},
{text:'Orange Juice', weight: 9},
{text:'Orange Zest', weight: 2},
{text:'Oregano', weight: 10},
{text:'Oyster', weight: 1},
{text:'Oyster Sauce', weight: 1},
{text:'Palm Sugar', weight: 1},
{text:'Pancake', weight: 4},
{text:'Pancetta', weight: 2},
{text:'Panko', weight: 5},
{text:'Panzanella', weight: 1},
{text:'Paprika', weight: 10},
{text:'Parlsey', weight: 10},
{text:'Parmesan', weight: 10},
{text:'Parsley', weight: 8},
{text:'Party', weight: 5},
{text:'Passion Fruit', weight: 1},
{text:'Passover', weight: 1},
{text:'Pasta', weight: 9},
{text:'Pastry', weight: 4},
{text:'Pate a Choux', weight: 1},
{text:'Pea', weight: 4},
{text:'Pea Shoot', weight: 1},
{text:'Peach', weight: 2},
{text:'Peanut', weight: 8},
{text:'Peanut Butter', weight: 3},
{text:'Pear', weight: 3},
{text:'Pecan', weight: 3},
{text:'Pecorino', weight: 2},
{text:'Pepper', weight: 6},
{text:'Peppercorn', weight: 6},
{text:'Picnic', weight: 2},
{text:'Pie', weight: 2},
{text:'Pine Nut', weight: 5},
{text:'Pineapple', weight: 7},
{text:'Pinto Beans', weight: 1},
{text:'Pisco', weight: 1},
{text:'Pistachio', weight: 10},
{text:'Pita', weight: 4},
{text:'Pizza', weight: 7},
{text:'Plum Tomatoes', weight: 1},
{text:'Polenta', weight: 1},
{text:'Poppy Seeds', weight: 2},
{text:'Pork', weight: 8},
{text:'Pork Chop', weight: 1},
{text:'Pork Shoulder', weight: 3},
{text:'Pork Tenderloin', weight: 1},
{text:'Portuguese', weight: 1},
{text:'Posole', weight: 1},
{text:'Pot Pie', weight: 1},
{text:'Potato', weight: 10},
{text:'Potato Salad', weight: 4},
{text:'Potluck', weight: 2},
{text:'Powdered Sugar', weight: 7},
{text:'Provolone', weight: 1},
{text:'President Cheese ', weight: 1},
{text:'Pudding', weight: 1},
{text:'Puff Pastry Dough', weight: 5},
{text:'Pumpkin', weight: 1},
{text:'Pumpkin Seed', weight: 3},
{text:'Purim', weight: 3},
{text:'Queso Fresco', weight: 1},
{text:'Quick And Easy', weight: 1},
{text:'Quinoa', weight: 4},
{text:'Radicchio', weight: 3},
{text:'Radish', weight: 10},
{text:'Raisin', weight: 5},
{text:'Ramp', weight: 1},
{text:'Raspberry', weight: 1},
{text:'Readers Choice Week',weight: 10},
{text:'Red Onion', weight: 6},
{text:'Red Pepper', weight: 10},
{text:'Red Snapper', weight: 1},
{text:'Red Wine', weight: 2},
{text:'Relish', weight: 2},
{text:'Rhubarb', weight: 3},
{text:'Rib', weight: 1},
{text:'Rice', weight: 10},
{text:'Rice Vinegar', weight: 10},
{text:'Rice Wine', weight: 1},
{text:'Ricotta', weight: 9},
{text:'Ricotta Salata', weight: 2},
{text:'Rigatoni', weight: 1},
{text:'Roast', weight: 3},
{text:'Roasted Vegetables', weight: 5},
{text:'Roll', weight: 2},
{text:'Romaine', weight: 1},
{text:'Rose', weight: 2},
{text:'Rosemary', weight: 9},
{text:'Rum', weight: 4},
{text:'Rum Drinks', weight: 3},
{text:'Russet Potato', weight: 1},
{text:'Rye', weight: 2},
{text:'Sage', weight: 4},
{text:'Salad', weight: 10},
{text:'Salad Dressing', weight: 4},
{text:'Salami', weight: 1},
{text:'Salmon', weight: 3},
{text:'Salsa', weight: 6},
{text:'Salt', weight: 3},
{text:'Sambal Oelek', weight: 7},
{text:'Sandwich', weight: 10},
{text:'Sauce', weight: 7},
{text:'Sauerkraut', weight: 2},
{text:'Sausage', weight: 9},
{text:'Scone', weight: 3},
{text:'Sea Salt', weight: 1},
{text:'Seafood', weight: 1},
{text:'Seaweed', weight: 1},
{text:'Seed', weight: 2},
{text:'Seltzer', weight: 1},
{text:'Serrano Chiles', weight: 2},
{text:'Sesame', weight: 3},
{text:'Sesame Oil', weight: 9},
{text:'Sesame Seed', weight: 10},
{text:'Shallot', weight: 10},
{text:'Sherry', weight: 5},
{text:'Shiitake', weight: 2},
{text:'Short Rib', weight: 1},
{text:'Shrimp', weight: 10},
{text:'Sichuan', weight: 1},
{text:'Side', weight: 9},
{text:'Simple Syrup', weight: 5},
{text:'Sliders', weight: 1},
{text:'Smoked Paprika', weight: 2},
{text:'Smoked Trout', weight: 1},
{text:'Smoothie', weight: 1},
{text:'Smores', weight: 1},
{text:'Snack', weight: 7},
{text:'Soba', weight: 1},
{text:'Soda', weight: 1},
{text:'Souffle', weight: 3},
{text:'Soup', weight: 10},
{text:'Sour Cream', weight: 10},
{text:'Soy Sauce', weight: 10},
{text:'Spaghetti', weight: 1},
{text:'Sparkling Wine', weight: 1},
{text:'Spicy', weight: 7},
{text:'Spinach', weight: 9},
{text:'Spring', weight: 8},
{text:'Sprout', weight: 1},
{text:'Squash', weight: 9},
 {text:'Sriracha', weight: 2},
 {text:'St. Patricks Day', weight: 6},
 {text:'Star Anise', weight: 1},
 {text:'Steak', weight: 3},
 {text:'Stew', weight: 1},
 {text:'Stir-Fry', weight: 2},
 {text:'Stock', weight: 4},
 {text:'Strawberry', weight: 6},
 {text:'Sugar', weight: 10},
 {text:'Sugar Snap Pea', weight: 1},
 {text:'Sumac', weight: 2},
 {text:'Summer', weight: 10},
 {text:'Summer Desserts', weight: 1},
 {text:'Summer Drinks', weight: 10},
 {text:'Summer Squash', weight: 1},
 {text:'Sundae', weight: 1},
 {text:'Super Bowl', weight: 6},
 {text:'Sweet Potato/Yam', weight: 6},
 {text:'Sweet Spots', weight: 1},
 {text:'Syrup', weight: 1},
 {text:'Taco', weight: 3},
 {text:'Tahini', weight: 10},
 {text:'Tamarind', weight: 1},
 {text:'Tangerine', weight: 1},
 {text:'Tapioca', weight: 1},
 {text:'Tarragon', weight: 6},
 {text:'Tart', weight: 1},
 {text:'Tea', weight: 5},
 {text:'Tepache', weight: 7},
 {text:'Tequila', weight: 5},
 {text:'Thanksgiving', weight: 6},
 {text:'Thyme', weight: 10},
 {text:'Tiramisu', weight: 1},
 {text:'Toast', weight: 4},
 {text:'Toffee', weight: 3},
 {text:'Tof', weight: 8},
 {text:'Tomatillo', weight: 4},
 {text:'Tomato', weight: 10},
 {text:'Tomato Paste', weight: 5},
 {text:'Tortillas', weight: 4},
 {text:'Tostada', weight: 1},
 {text:'Trifle', weight: 1},
 {text:'Trout', weight: 1},
 {text:'Truffle', weight: 6},
 {text:'Tumeric', weight: 2},
 {text:'Tuna', weight: 2},
 {text:'Turkey', weight: 2},
 {text:'Valentines Day', weight: 4},
 {text:'Vanilla', weight: 10},
 {text:'Vanilla Extract', weight: 7},
 {text:'Vegan', weight: 10},
 {text:'Vegetables', weight: 3},
 {text:'Vegetarian', weight: 10},
 {text:'Vermouth', weight: 1},
 {text:'Vinaigrette', weight: 1},
 {text:'Vinegar', weight: 10},
 {text:'Vodka', weight: 3},
 {text:'Waffle', weight: 1},
 {text:'Walnut', weight: 9},
 {text:'Watercress', weight: 5},
 {text:'Watermelon', weight: 2},
 {text:'Web Recipe', weight: 10},
 {text:'WebRecipe', weight: 1},
 {text:'Wedding', weight: 8},
 {text:'Weeknight', weight: 5},
 {text:'Whipped Cream', weight: 1},
 {text:'Whiskey', weight: 7},
 {text:'White Beans', weight: 1},
 {text:'White Chocolate', weight: 1},
 {text:'White Wine', weight: 10},
 {text:'Whole Grain', weight: 1},
 {text:'Wine', weight: 7},
 {text:'Winter', weight: 1},
 {text:'Worcestershire Sauce', weight: 2},
 {text:'Yeast', weight: 4},
 {text:'Yogurt', weight: 10},
 {text:'Yukon Gold', weight: 2},
 {text:'Zaatar', weight: 3},
 {text:'Zest', weight: 1},
 {text:'Zucchini', weight: 4},
 {text:'appetizer', weight: 10},
 {text:'apple pie', weight: 1},
 {text:'baking 123', weight: 2},
 {text:'beet', weight: 8},
 {text:'butter balls', weight: 2},
 {text:'camp lunch', weight: 2},
 {text:'chard', weight: 3},
 {text:'chartreuse', weight: 2},
 {text:'chestnut', weight: 1},
 {text:'chia', weight: 4},
 {text:'chicken wings', weight: 1},
 {text:'chinese', weight: 1},
 {text:'clam', weight: 2},
 {text:'coconut oil', weight: 10},
 {text:'date', weight: 4},
 {text:'egg salad', weight: 1},
 {text:'fingerling potato', weight: 2},
 {text:'fry', weight: 1},
 {text:'furikake', weight: 2},
 {text:'game of thrones', weight: 1},
 {text:'gochugar', weight: 1},
 {text:'gochujang', weight: 5},
 {text:'grape', weight: 2},
 {text:'green bean', weight: 1},
 {text:'hamburger', weight: 1},
 {text:'herb', weight: 7},
 {text:'honey', weight: 10},
 {text:'ice cream', weight: 10},
 {text:'ice cream maker', weight: 1},
 {text:'juniper', weight: 2},
 {text:'kohlrabi', weight: 2},
 {text:'korean', weight: 1},
 {text:'macadamia nut', weight: 2},
 {text:'mackerel', weight: 1},
 {text:'mezcal', weight: 5},
 {text:'nori', weight: 1},
 {text:'olive', weight: 6},
 {text:'omelet', weight: 1},
 {text:'pepita', weight: 3},
 {text:'pickle', weight: 5},
 {text:'pizza dough', weight: 4},
 {text:'popsicle', weight: 2},
 {text:'red wine vinegar', weight: 1},
 {text:'roast chicken', weight: 5},
 {text:'scallop', weight: 1},
 {text:'spaghetti squash', weight: 1},
 {text:'spelt', weight: 1},
 {text:'spritz', weight: 2},
 {text:'sunflower seed', weight: 3},
 {text:'switchel', weight: 1},
 {text:'swordfish', weight: 3}
];




        $(function() {
            $("#wordcloud").jQCloud(weighted_tags);
            });
        
    </script>
    <div id="wordcloud" style="width: 100%; height: 350px;"></div>
    <div class="col-lg-6">
        <ul>
           {% for tag in tags %}
                <li><a href="/{{tag.category}}/recipes"> {{ tag.category }}</a></li>
            {% endfor %}
        </ul>
       </div>
    </div>

</div>


{% endblock %}