{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-5">
            {% if more_recipes %}
            {% for restriction in restrictions %}
                {%if loop.last %}
                 <h2>{{restriction}} {{ tag.category }}<h2>
                {% endif %}
                 <h2>{{ restriction }}</h2>
            {% endfor %}
            <ul>
                {% for recipe in more_recipes %}
                    <li><a href="/recipes{{recipe.recipe_url}}">{{ recipe.recipe_title }}</a></li>
                {% endfor %}
            {% else %}
            <h1>{{ tag.category }}</h1>
                {% for recipe in recipes %}
                    <li><a href="/recipes{{recipe.recipe_url}}">{{ recipe.recipe_title }}</a></li>
                {% endfor %}
            {% endif %}
            </ul>

        </div>
        <div class="col-lg-3"> 
        </div>
    </div>
</div>


{% endblock %}