{% extends 'base.html' %}

{% block content %}
<div class="container"> 
<row> 
    <div class="col-lg-4">
        <h1><a href="/recipes{{ url1 }}">{{ recipe1.recipe_title }}</a></h1>
        <h3>{{ recipe1.recipe_source }}</h3>
        <ul>
            {% for ingredient in ingredients1 %}
                {% if not loop.last %}
                    <li>{{ ingredient }}</li>
                {% endif %}
            {% endfor %}
        </ul>
      
    </div>
    <div class="col-lg-4">
        <h1><a href="/recipes{{ url2 }}">{{ recipe2.recipe_title }}</a></h1>
        <h3>{{ recipe2.recipe_source }}</h3>
        <ul>
            {% for ingredient in ingredients2 %}
                {% if not loop.last %}
                    <li>{{ ingredient }}</li>
                {% endif %}
            {% endfor %}
        </ul>
      
    </div>
    <div class="col-lg-4">
        <h1><a href="/recipes{{ url3 }}">{{ recipe3.recipe_title }}</a></h1>
        <h3>{{ recipe3.recipe_source }}</h3>
        <ul>
            {% for ingredient in ingredients3 %}
                {% if not loop.last %}
                    <li>{{ ingredient }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    
        <!-- <p>{{ recipe3.recipe_directions }}</p><br> -->
    </div>
</row>
<row>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <button class="btn btn-primary"><a href="/recipes">Yuk, give me three new suggestions</a></button>
    </div>
    <div class="col-lg-4"></div>
</row>
</div>

{% endblock %}