{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 align="center">Hello {{name}}</h1>
    <div class="row">
        <div class="col-lg-7">
            <p> Your dietary restrictions: </p>
            {{ user.restrictions }}
            <button class="btn btn-primary"><a href="/add-dietary-restrictions">Click to change dietary restrictions</a></button>
        </div>
        <div class="col-lg-5">
            <p>Recipes you've rated</p>
            <ul>
                {% for rating in ratings %}

                    <li><a href="/recipes{{rating.recipe.recipe_url}}">{{rating.recipe.recipe_title}}</a>, {{rating.rating_score}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
<button class="btn btn-primary"><a href="/logout">Logout</a></button>  
</div>
{%endblock%}